# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Outdir
*DLL Debug*
*DLL Release*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt-es
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*
*.qtds

# Visual Studio
*.user
*.ilk
*.pdb
*.tlog
*.log
*.ipch
*.db
*.suo
*.exp
*.vs
*.aps
/.gitattributes
